<% if logged_in? %>
  <li><a href="/">home</a></li>
  <li><a href="/logout">logout</a></li>
<% else %>
  <li><a href="/">home</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/users/new">register</a></li>
<% end %>

